h1 {
    color: #fff;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 900;
    font-size: 8em;
    letter-spacing: -3px;
    text-shadow: 0 0.3rem 0.9rem rgba(0,0,0,.4);
}

p {
    color: #fff;
    font-family: "Source Sans Pro", sans-serif;
    text-shadow: -1px 1px 8px rgba(0,0,0,.8);
}

#slide1-1 h1 {
    color: #444;
}

.fp-bg {
    background-size: cover;
    transform: translate3d(0,0,0);
    backface-visibility: hidden;
}

#slide1-1 .fp-bg {
    background-image: url("../images/background-01.jpg");
    background-position: center 80%;
}

#slide1-2 .fp-bg {
    background-image: url("../images/background-05.jpg");
}

#slide1-3 .fp-bg {
    background-image: url("../images/background-06.jpg");
}

#section2 .fp-bg {
    background-image: url("../images/background-02.jpg");
    background-position: center 60%;
}

#slide3-1 .fp-bg {
    background-image: url("../images/background-03.jpg");
    background-position: 50% 65%;
}

#slide3-2 .fp-bg {
    background-image: url("../images/background-05.jpg");
}

#slide3-3 .fp-bg {
    background-image: url("../images/background-06.jpg");
}

#slide3-4 .fp-bg {
    background-image: url("../images/background-07.jpg");
}

#section4 .fp-bg {
    background-image: url("../images/background-04.jpg");
}
