html {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 62.5%;
}

@media only screen and (max-width: 767px) {
    html {
        font-size: 31.25%;
    }
}

body {
    user-select: none;
}

section {
    text-align: center;
}

section h1 {
    color: #fff;
    font-weight: bold;
    font-size: 8rem;
    letter-spacing: -0.3rem;
    text-shadow: 0 0.3rem 0.9rem rgba(0, 0, 0, 0.5);
    margin: 0 64px;
}

section p {
    color: #fff;
    font-size: 3rem;
    text-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.8);
    margin: 0 64px;
}

section a {
    color: #fff;
}

#section1 .fp-bg {
    background-image: url("../images/background-04.jpg");
    background-position: 43% 33%;
}

#section2-1 .fp-bg {
    background-image: url("../images/background-06.jpg");
    background-position: 73% bottom;
}

#section2-2 .fp-bg {
    background-image: url("../images/background-07.jpg");
    background-position: right 80%;
}

#section2-3 .fp-bg {
    background-image: url("../images/background-21.jpg");
    background-position: left center;
}

#section3-1 .fp-bg {
    background-image: url("../images/background-09.jpg");
    background-position: 62% center;
}

#section3-2 .fp-bg {
    background-image: url("../images/background-17.jpg");
    background-position: 25% center;
}

#section3-3 .fp-bg {
    background-image: url("../images/background-16.jpg");
    background-position: 86% top;
}

#section4-1 .fp-bg {
    background-image: url("../images/background-22.jpg");
    background-position: center bottom;
}

#section4-2 .fp-bg {
    background-image: url("../images/background-05.jpg");
    background-position: 66% center;
}

#section4-3 .fp-bg {
    background-image: url("../images/background-08.jpg");
    background-position: 64% 90%;
}

#nav-toggle {
    display: inline-block;
    width: 40px;
    height: 31px;
    cursor: pointer;
    position: absolute;
    top: 11px;
    right: 11px;
    z-index: 2;
}

#nav-toggle>span {
    display: block;
    width: 32px;
    height: 3px;
    border-radius: 1px;
    background-color: #fff;
    position: absolute;
    left: 4px;
    transition: all 0.25s ease-out;
}

#nav-toggle>span:nth-child(1) {
    top: 4px;
}

#nav-toggle>span:nth-child(2) {
    top: 14px;
}

#nav-toggle>span:nth-child(3) {
    top: 24px;
}

#nav-toggle.open>span {
    top: 14px;
    background-color: #000;
}

#nav-toggle.open>span:nth-child(1) {
    transform: rotateZ(45deg);
}

#nav-toggle.open>span:nth-child(2) {
    transform: rotateY(90deg);
}

#nav-toggle.open>span:nth-child(3) {
    transform: rotateZ(-45deg);
}

nav {
    width: 100%;
    height: 100%;
    background-color: #6ff36f;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    visibility: hidden;
}

nav.open {
    visibility: visible;
}

nav>a {
    display: block;
    padding: 10px;
    margin: 0 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #000;
    opacity: 0;
    transform: translateY(-25%);
    transition: color 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
    visibility: hidden;
    backface-visibility: hidden;
}

nav.open>a {
    opacity: 1;
    transform: none;
    visibility: visible;
}

nav>a:hover {
    color: #fff;
    transition: none;
}

nav>a:first-child {
    margin-top: 42px;
}

footer>small {
    color: #fff;
    font-size: 2rem;
    text-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: 10px;
    right: 15px;
}

.fp-bg {
    background-size: cover;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background-color: #fff;
}

@media only screen and (max-width: 767px) {
    .fp-controlArrow.fp-prev {
        border-width: 25px 20px 25px 0;
    }

    .fp-controlArrow.fp-next {
        border-width: 25px 0 25px 20px;
    }

    .fp-controlArrow {
        margin-top: -25px;
    }
}
