html, body {
    position: relative;
    height: 100%;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: "Roman", "Baskerville", "Palatino Linotype", "Palatino", "Century Schoolbook L", "Times New Roman", serif;
    font-size: 62.5%;
    line-height: 1;
    background-color: #000;
    color: #777;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

@media only screen and (max-width: 767px) {
    body {
        background-color: #fff;
        color: #777;
    }
}

a:link, a:visited {
    color: #97e7ff;
    text-decoration: none;
    outline: none !important;
    transition: color 0.5s ease;
}

a:hover, a:active, a:focus {
    color: #caf3ff;
}

video {
    position: fixed;
    z-index: -100;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 767px) {
    video {
        display: none;
    }
}

div#toggle-m {
    position: fixed;
    top: 14px;
    right: 10px;
    width: 40px;
    height: 42px;
    z-index: 999999;
    /* display: none; */
}

@media only screen and (max-width: 991px) {
    div#toggle-m {
        display: inline-block;
    }
}

a.nav-icon {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    transform: rotate(0deg);
    transition: all 2s ease-out;
    cursor: pointer;
}

a.nav-icon span {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 1px;
    opacity: 1;
    transform: rotate(deg);
    transition: all 0.25s ease-out;
}

a.toggle-lg {
    width: 32px;
    height: 32px;
}

a.toggle-lg span {
    width: 32px;
    height: 3px;
}

a.toggle-lg span:nth-child(1) {
    top: 0px;
}

a.toggle-lg span:nth-child(2) {
    top: 10px;
}

a.toggle-lg span:nth-child(3) {
    top: 20px;
}

a.toggle-lg.open span:nth-child(1) {
    top: 11px;
    left: 4px;
    transform: rotate(45deg);
    background-color: #3f3f3f;
}

a.toggle-lg.open span:nth-child(2) {
    left: 50%;
    width: 0%;
    background-color: #3f3f3f;
}

a.toggle-lg.open span:nth-child(3) {
    top: 11px;
    left: 4px;
    transform: rotate(-45deg);
    background-color: #3f3f3f;
}

header {
    position: fixed;
    z-index: 9;
    left: 0;
    bottom: 0;
    color: #fff;
    text-align: left;
    width: 100%;
    height: 55px;
    background: #000;
    background: rgba(0, 0, 0, 0.8);
    transition: top 0.2s ease-in-out;
}

header #nav ul li {
    padding-top: 20px;
}

@media only screen and (max-width: 991px) {
    header #nav ul li {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-25%) rotateX(35deg);
        transition: transform 0.5s, opacity 0.5s;
    }
}

header #nav ul li:first-child {
    padding: 2px 0 0 15px;
    opacity: 1;
    visibility: visible;
    transform: none;
}

@media only screen and (max-width: 991px) {
    header {
        top: 0;
    }
}

header.open {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #97e7ff;
}

header.open #nav {
    width: 100%;
}

header.open #nav ul {
    display: block;
    padding: 0;
}

header.open #nav ul li {
    display: inline-block;
    padding: 0 20px;
    width: 100%;
    text-align: center;
    opacity: 1;
    visibility: visible;
    transform: rotateX(0deg);
}

header.open #nav ul li a:link, header.open #nav ul li a:visited {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    background-clip: padding-box;
    color: #000;
    font-size: 21px;
    font-size: 2.1rem;
    line-height: 21px;
    line-height: 2.1rem;
}

header.open #nav ul li a:hover, header.open #nav ul li a:active, header.open #nav ul li a:focus {
    color: #fff;
    transition: none;
}

header.open #nav ul li:first-child {
    display: inline-block;
    text-align: left;
    padding: 0 0 0 15px;
    transform: none;
}

header.open #nav ul li:first-child a {
    padding: 0;
    border: none;
}

header.open #nav ul #logo {
    display: inline-block;
    fill: #fff !important;
}

header.open #nav ul #logo #various path {
    fill: #333 !important;
}

header.open #nav ul #logo #ways path {
    fill: #fff !important;
}

header.open #nav ul #logo #tittle path {
    fill: #fff !important;
}
